@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --heading-font: Oswald;
    --paragraph-font: "Source Sans 3", Helvetica, sans-serif;
    font-size: 16px;
    --primary-color: #0bc008;
    --secondary-color: #f9f6ea ; 
    --accent1-color: #a0f49f;
    --accent2-color: #cdc392;
    --formtitle: rgb(76, 91, 235);
    --bord: thin solid darkgray;
    --zebra: rgb(240, 239, 239);
    --required-border: solid 8px red;
    --valid-border: solid 8px green;
    --zebra-color: #c7f5c6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
header {
    background-color: var(--accent1-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--heading-font);
    font-size: 2rem;
    gap: 2rem;
    position: relative;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: relative;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
    background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation  a{
    display: none;
    color: black;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: bold;
}

.navigation a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navigation .active {
    background-color: rgba(0,0,0,0.1);
}

.open a {
	display: block;
}

main {
    margin: 0 3vw;
}

.welcome {
    margin: 0 auto;
}

.discover {
    margin: 0 2vw;
}

.sidebar, .pictures{
    display: flex;
    flex-direction: column;
}

.sidebar div:not(.map) {
    background-color: var(--secondary-color);
    padding: 1rem;
    padding-left: 1rem;
    margin: 1rem 0;
}

.map {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.pictures img{
    margin: 1rem auto;
    width: 100%;
    max-width: 500px;
    height: auto;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.hero img {
    grid-area: 1/1/4/4;
    width: 100%;
    filter: brightness(.6);
    z-index: -1;
}

.joinBtn {
    grid-area: 3/2/4/3;
    width: 60%;
    height: 40px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(18, 100, 96);
    color: white;
    border: none;
    box-shadow: 1px 1px 10px white;
}

.cards, .ads{
    margin: 1rem 2vw;
    display: grid;
    grid-template-columns: 1fr;
}

.cards section, .ads section{
    border: 1px solid black;
    background-color: var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
    margin: 1rem 0;
}

.cards h2, .ads h2{
    background-color: var(--accent1-color);
    color: black;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.ads h2 {
    background-color: unset;
}

.cards p{
    padding: 0.3rem 10px;
}

.joinf fieldset {
    background-color: #e3f9e3;
    margin: 2rem 2rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.joinf h1 {
    margin-left: 4rem;
}

.joinf legend {
    color: var(--formtitle);
    padding: 0 .5rem;
}

.joinf label{
    display: block;
    padding-top: 1rem;
    color: rgb(202, 36, 36);
    font-size: .9rem;
}


.joinf input[type="text"],
.joinf input[type="password"],
.joinf input[type="tel"],
.joinf input[type="email"],
.joinf textarea {
    background-color: #eee;
    display: block;
    border: solid 1px gray;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.joinf input[type="radio"] {
    margin-right: 6px;
}


.submit{
    margin: -1rem 2rem 2rem 2rem;
}


.joinf input[type="submit"] {
    border: none;
    background-color: greenyellow;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    font-weight: bold;
}

.joinf input:required {
    border-right: var(--required-border);
}

.joinf input:required:valid {
    border-right: var(--valid-border);
}

.benefits {
    width: 100%;
    margin: auto;
    padding: 0 2vw;
    border-collapse: collapse;
}

th, td {
    padding: 7px 15px;
    border: var(--bord);
}

thead tr:last-child{
    background-color: var(--accent1-color);
    color: black;

}

thead tr:last-child th{
    border: var(--bord);
    border-top: none;
    border-left: none;
}

thead tr th:first-child{
    background-color: var(--primary-color);
    color: black;
    border: none;
}

th p {
    font-size: small;
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: var(--zebra);
}

.thkmain {
    margin: 2rem;
}

.thkmsg {
    margin: 1rem 2vw;
}

.directorytitle {
    text-align: center;
}

.displaymenu {
	padding: 0.5rem;
	text-align: center;
}

.displaymenu button {
    border-radius: 6px;
    border: solid thin lightgray;
    margin: 0 .5rem;
    width: 75px;
    height: 75px;
}

.displaymenu img {
    width: 100%;
}

.grid {
    margin: 2rem 2vw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
}

.grid section {
    background-color: var(--secondary-color);
    padding: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px gray;
    border: solid thin black;
}

.grid img {
    height: 75px;
    width: auto;
    max-width: 90%;
    margin: 1rem;
}

.grid .name {
    display: none;
}

.grid p {
    padding: .3rem;
}


.list {
	display: flex;
	flex-direction: column;
    width: 85%;
    margin: 2rem auto;
}

.list section {
	display: flex;
    flex-direction: column;
	padding: .5rem;
    align-items: center;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; 
}

.list section h3 {
	font-size: 1rem;
}

.list section:nth-child(even) {
	background-color: var(--zebra-color);
}


footer {
    display: block;
    padding: 1rem;
    background-color: var(--accent1-color);
    text-align: center;
}

footer div {
    margin: 1vw;
    border-bottom: solid 1px black;
}
