@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@media only screen and (min-width: 820px) {

    :root {
        --heading-font: Oswald;
        --paragraph-font: "Source Sans 3", Helvetica, sans-serif;
        font-size: 16px;
        --primary-color: #0bc008;
        --secondary-color: #f9f6ea ; 
        --accent1-color: #a0f49f;
        --accent2-color: #cdc392;
        --bord: thin solid darkgray;
        --zebra: rgb(240, 239, 239);
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .navigation a{
        display: block;
        flex: 1 1 100%
    }

    main {
       margin: 0 auto;
    }

    .discover {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 1rem;
        margin: 0 2vw;
    }
    
    .pictures img {
        cursor: pointer;
    }

    .cards, .ads {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards {
        grid-gap: 1rem;
    }

    .event {
        grid-column: 1/3;
    }

    .join {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        margin: auto 3vw;
    }
        
}
