@media only screen and (min-width: 820px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .navigation a{
        display: block;
        flex: 1 1 100%
    }

    main {
       margin: 0 auto;
    }

    .discover {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1rem;
        margin: 0 2vw;
    }

    .welcome {
        grid-column: 1/3;
    }
    
    .pictures img {
        cursor: pointer;
    }

    .cards, .ads {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards {
        grid-gap: 1rem;
    }

    .event {
        grid-column: 1/3;
    }
}
